doctype html
html(lang="en-GB")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")

        title= pageTitle

        if meta.description
            meta(name="description" content=meta.description)
        if meta.author
            meta(name="author", content=meta.author)
        if social.googlePlus
            link(rel="publisher" href=social.googlePlus)
        if meta.robots
            link(rel="author" href=meta.robots type="text/plain")
        if social.twitter
            meta(name="twitter:card" content="summary")
            meta(name="twitter:site" content="@#{social.twitter}")
            meta(name="twitter:title" content=pageTitle)
            meta(name="twitter:description" content=meta.description)

        meta(property="og:type" content="website")
        meta(property="og:locale" content="en_GB")
        meta(property="og:title" content=pageTitle)

        if meta.name
            meta(property="og:site_name" content=meta.name)
        if meta.description
            meta(property="og:description" content=meta.description)
        if meta.url
            meta(property="og:url" content=meta.url)
        if meta.image
            meta(property="og:image" content=meta.image)

        link(rel="stylesheet" href="assets/css/main.css")

        script(src="assets/js/modernizr.js")
    body

        header(role="banner")
            h1: a(href="/") Site

            nav(role="navigation")
                ul
                    li: a(href="/" rel="home") Home

        main(role="main")
            block content

        footer(role="contentinfo")

        script(src="assets/js/index.js")
